body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("../assets/money.png") no-repeat center fixed;
  background-size: cover;
  background-position: middle;
  font-family: serif;
}

.loginbox {
  width: 100%;
  max-width: 500px;
  height: 70%;
  border-radius: 5%;
  background: rgba(243, 236, 236, 0.8);
  top: 50%;
  left: 75%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  flex-grow: 1;
  min-height: 0;
}

h1 {
  padding: 0 0 10px;
  font-family: monospace;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

label {
  padding: 0;
  font-weight: bold;
}

input {
  width: 100%;
}

.flex_item0,
.flex_item1 {
  padding-top: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 2px;
  border-radius: 10%;
  border-bottom: solid rgb(14, 12, 12);
  background: transparent;
  /*outline-style: double;*/
  height: 35px;
  color: rgb(2, 14, 2);
  transition: all 0.05s;
  font-size: 16px;
}

input:hover {
  border-top: solid rgb(14, 12, 12);
  border-left: solid rgb(14, 12, 12);
  border-right: solid rgb(14, 12, 12);
}

.submit {
  background-color: #c2eefb;
  border-radius: 100px;
  box-shadow: rgba(72, 159, 194, 0.2) 0 -25px 18px -14px inset;
  font-size: 20px;
  color: rgb(64, 10, 163);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  position: relative;
  left: 30%;
}

.submit:hover {
  box-shadow: rgba(72, 159, 194, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
}

.link {
  text-align: center;
}

.link a {
  text-decoration: none;
  line-height: 20px;
  color: rgb(73, 71, 71);
  transition: all 0.5s;
  font-size: 20px;
}

.link a:hover {
  font-size: 22px;
  color: #072227;
  border-radius: 100%;
}

@media all and (min-height: 0px) and (max-height: 1000px) and (min-width: 500px) and (max-width: 1000px) {
  .loginbox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

@media all and (max-width: 500px) and (min-width: 0px) {
  .loginbox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .flex_item0,
  .flex_item1 {
    padding-top: 0.5em;
  }
  .submitbutton {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .link {
    font-size: 0.85em;
  }
}

@media all and (min-width: 500px) and (min-height: 1000px) {
  .loginbox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .flex_item0,
  .flex_item1 {
    padding-top: 0.5em;
  }
  .submitbutton {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .link {
    font-size: 0.85em;
  }
}

@media all and (max-width: 360px) {
  .footer a {
    font-size: 1rem;
  }
}
@media all and (max-width: 360px) {
  .link {
    font-size: 0.2rem;
  }
}
